*{
    font-family: Arial, Helvetica, sans-serif;
}

.topBar img{
    width: 150px;
    height: auto;
}

.topBar{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.fullContainer{
    display: flex;
    flex-direction: column;
}

.cardBox{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 25px;
    padding: 0 150px;
}

.cardBox div{
    display: flex;
    justify-content: center;
}